/* Estilo para el html y body para que ocupen toda la altura de la ventana */
html, body {
    height: 100%; /* Asegura que el html y el body ocupen el 100% del alto */
    margin: 0; /* Elimina el margen predeterminado */
}

/* Estilo para el body */
body {
    background-image: url('Fondo.avif'); /* Cambia esto al nombre de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: white; /* Cambia el color del texto si es necesario */
}

/* Estilo para los modales */
.modal-content {
    background-color: #312e2e; /* Cambia a un color más oscuro */
    color: white; /* Asegura que el texto sea blanco */
}

/* Estilo para las etiquetas dentro de los modales */
.modal-header h5,
.modal-body label {
    color: white; /* Asegúrate de que las etiquetas también sean de color blanco */
}

/* Estilo para los inputs y textos */
.modal-body input,
.modal-body select {
    background-color: #495057; /* Cambia a un color más oscuro para el fondo de los inputs */
    color: white; /* Asegura que el texto en los inputs sea blanco */
}

/* Estilo para el título con efecto neón azul */
h1 {
    margin-bottom: 30px;
    font-size: 3em;
    text-shadow: 0 0 5px #00e6ff, 0 0 10px #00e6ff, 0 0 15px #00e6ff, 0 0 20px #00e6ff;
    color: #00e6ff; /* Color principal del neón */
}

/* Estilos para todos los botones */
.btn, .button {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #ffffff;
    overflow: hidden;
    border-radius: 30px;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
    margin: 10px; /* Añade un margen entre los botones */
}

.btn-txt, .button-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
}

.type1::after, .btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
}

.btn:hover, .button:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
}

.type1:hover::after, .btn:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}

/* Estilo para la firma */
.text-right {
    position: fixed; /* Posiciona la firma de manera fija */
    bottom: 10px; /* Alinea al fondo */
    right: 20px; /* Alinea a la derecha */
    font-size: 14px; /* Tamaño de fuente */
    margin-bottom: 30px;
    font-size: 3em;
    color: #ffffff; /* Color principal del neón */
}

/* Estilo para la tabla de resultados */
.table-dark {
    background-color: #343a40;
    color: white;
}
